upstream httpd_upstream {
	server httpd:80;
}

server {
    listen 80;
    server_name httpd.${CODESPACE_NAME}-8081.app.github.dev;
    location / {
        proxy_pass http://httpd_upstream;
        proxy_http_version 1.1;
    }
}